html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background: #f56b4c;
  color: white;
  padding: 10px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
}

.container {
  width: 100vw;
  max-width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

/* HEADER */
.top-bar {
  width: 100vw;
  background: #f26c4f;
  color: white;
  padding: 12px 20px;
  font-weight: bold;
  display: flex;
  box-sizing: border-box;
  gap: 20px;
}

/* TITLE */
.title {
  text-align: center;
  color: #f26c4f;
  margin: 20px 0;
}

/* ADD BUTTON */
.add-btn {
  background: #f26c4f;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* TABLE */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background: #c65a45;
  color: white;
}

.table th {
  background: #c65a45;
  color: white;
}

.table td {
  background: #fefefe;
  color: #333;
}

.table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

/* ACTION ICON */
.action {
  text-align: center;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #d87a64;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100vw;
  margin: 0;
}

.form-box {
  background: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  max-width: 400px;
}
.form-box input {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 6px;
}
