header {
    background: #ef603f;
    padding: 10px;
    margin: 0px;
    display: flex;
    color: white;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    margin: 0 auto;
    width: 50%;
    box-sizing: border-box;
}

* {
    font-size: 15px;
}

.btn-default {
    background: #e55a1e;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 14px;
    border: none;
}

table {
    width: 100%;
    margin: 10px 0px;
}

table > thead {
    background: #cb5136;
    color: white;
}

table > thead > tr > th {
    padding: 5px 5px;
}

table > tbody > tr > td {
    padding: 10px;
}

a {
    text-decoration: none;
}

footer {
    margin-top: 10px;
    background: #cb5136;
    color: white;
    padding: 8px;
    border-radius: 7px;
    font-size: 14px;
}

.form-control {
    font-size: 14px !important;
}

@media (max-width: 750px) {
    body {
        width: 100%;
    }
}